<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings> 
        <add key="USER_AGENT" value="csharp-sdk 6.0" />
		<add key="ACCESS_KEY" value="IT9iP3J9wdXXYsT1p8ns0gWD-CQOdLvIQuyE0FOK" />
		<add key="SECRET_KEY" value="zUCzekBtEqTZ4-WJPCGlBrr2PeyYxsYn98LPaivM" />
		<add key="RS_HOST" value="" />
		<add key="UP_HOST" value="" />
		<add key="RSF_HOST" value="" />
	</appSettings> 
</configuration>
